<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Mannat Themes">
        <meta name="keyword" content="">

        <title>SYNTRA | Responsive Web App Kit</title>

        <!-- Theme icon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <link href="assets/plugins/morris-chart/morris.css" rel="stylesheet">
        <!-- Theme Css -->
        <link href="/Admin/css/bootstrap.min.css" rel="stylesheet">
        <link href="/Admin/css/slidebars.min.css" rel="stylesheet">
        <link href="/Admin/css/icons.css" rel="stylesheet">
        <link href="/Admin/css/menu.css" rel="stylesheet" type="text/css">
        <link href="/Admin/css/style.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    </head>

    <body class="sticky-header">
        <section>
            <!-- sidebar left start-->
         <div class="sidebar-left  md-6">
            <div class="sidebar-left-info">

                <div class="user-box">
                    <div class="d-flex justify-content-center">
                        <img src="/Admin/images/users/WhatsApp Image 2022-07-30 at 10.23.13 AM.jpeg" alt=""
                            class="img-fluid rounded-circle">
                    </div>
                    <div class="text-center text-white mt-2">
                        <h6>Amien Sajeed</h6>
                        <p class="text-muted m-0">Admin</p>
                    </div>
                </div>

                <!--sidebar nav start-->
                <ul class="side-navigation">
                    <li>
                    </li>
                    <li class="active">
                        <a href="/admindashboard"><i class="mdi mdi-gauge"></i> <span>Dashboard</span></a>
                    </li>
                    <li>
                    </li>
                    <li class="menu-lists"><a href="/admin-users"><i class="fa fa-user-circle"></i> <span>Users <span
                                    class="badge badge-primary noti-arrow pull-right"></span> </span></a>
              
                    </li>
                    <li class="menu-list"><a href="/admin/admin-products"><i class="mdi mdi-diamond"></i>
                            <span>Products</span></a>
                        <ul class="child-list">
                            <li><a href="/admin-addproducts"> Add a Product </a></li>
                            <li><a href="/admin-products"> View Products</a></li>
                        </ul>
                    </li>
                    <li class="menu-list"><a href="javascript:;"><i class="mdi mdi-table"></i> <span>Banner</span></a>
                        <ul class="child-list">
                            <li><a href="/admin-addbanner"> Add a Banner</a></li>
                            <li><a href="/admin-banner"> View Banners</a></li>

                        </ul>
                    </li>
                    <li class="menu-lists"><a href="/admin-orders"><i class="mdi mdi-table"></i> <span>Order Management </span></a>
                    </li>
                    <li class="menu-list"><a href=""><i class="mdi mdi-google-earth"></i> <span> Offers & Coupons
                            </span></a>
                         <ul class="child-list">
                                <li><a href="/admin-addcoupen">Add Coupons</a></li>
                                <li><a href="/admin-viewcoupen">View Coupons</a></li> 
                              <li><a href="/admin-addCatOffer">Add Category Offer</a></li>
                                <li><a href="/admin-ViewCatoffer">View Category Offers</a></li>                                 <li><a href="form-advanced.html">Add Product Offer</a></li>
                                <li><a href="form-wizard.html">View Product Offers</a></li>
                              
                            </ul> 
                    </li>
                    <li class="menu-lists"><a href="/admin-category"><i class="mdi mdi-chart-arc"></i> <span> Category Management</span></a>
                    </li>
                    <li class="menu-lists"><a href="/admin-login"><i class="mdi mdi-email"
                                aria-hidden="true"></i><span>Log Out </span></a>
                    </li>
                </ul>
                <!--sidebar nav end-->
            </div>
        </div> <!-- sidebar left end-->

        <!-- body content start-->
        <div class="body-content  bg-light">
            <!-- header section start-->
            <div class="header-section">
                <!--logo and logo icon start-->
                
                <div class="logo bg-light">
                    <a href="index.html">
                        <span class="logo-img" style="padding-bottom: 50px;">
                            <img src="/User/images/logo/looo-removebg-preview.png" style="padding-bottom: 52px";
                                alt="" height="100px">
                        </span>
                      
                        <!--<i class="fa fa-maxcdn"></i>-->
                     {{!-- <h3> <span class="brand-name" style="font-family: cursive;">Harvest </span>  </h1>    --}}
                    </a>
                </div>

                <!--toggle button start-->
                {{!-- <a class="toggle-btn"><i class="ti ti-menu"></i></a> --}}
                <!--toggle button end-->

                {{!-- <!--mega menu start-->
                <div id="navbar-collapse-1" class="navbar-collapse collapse mega-menu">
                    <ul class="nav navbar-nav">
                        <!-- Classic dropdown -->
                    
                        <!-- Classic list -->
                        <li>
                            <form class="search-content" action="index.html" method="post">
                                <input type="text" class="form-control mt-3" name="keyword" placeholder="Search...">
                                <span class="search-button"><i class="ti ti-search"></i></span>
                            </form>
                        </li>
                    </ul>
                </div> --}}
                <!--mega menu end-->

              
            </div>
                <!-- header section end-->

                <div class="container-fluid">
                    <div class="page-head">
                        <h4 class="mt-2 mb-2">Dashboard</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-sm-3">
                                   <div class="widget-box bg-white m-b-30">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-4">
                                                <div class="text-center"><i class="ti ti-money"></i></div>
                                            </div>
                                            <div class="col-4">
                                                <div class="dynamicbar">Loading..</div>
                                            </div>
                                            <div class="col-4">
                                                <h4 class="m-0 counter">{{sumFinal}}</h4>
                                                <p>Total Sales</p> 
                                            </div>
                                        </div>
                                   </div> 
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                   <div class="widget-box bg-white m-b-30">
                                        <div class="row d-flex align-items-center text-center">
                                            <div class="col-4">
                                                <div class="text-center"><i class="ti ti-wallet"></i></div>
                                            </div>
                                            <div class="col-4">
                                                <div class="inlinesparkline">Loading..</div>
                                            </div>
                                            <div class="col-4">
                                                {{#each dailyorders }}<h2 class="m-0 counter">{{this.torders}}</h2>{{/each}}
                                                <p>Total Orders</p> 
                                            </div>
                                        </div>
                                   </div> 
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div class="widget-box bg-white m-b-30">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-4">
                                                <div class="text-center"><i class="ti ti-user"></i></div>
                                            </div>
                                            <div class="col-4">
                                                <div class="dynamicbar">Loading..</div>
                                            </div>
                                            <div class="col-4">
                                                {{#each TotalUsers}}<h2 class="m-0 counter">{{this.user}}</h2>{{/each}}
                                                <p>Active Users</p> 
                                            </div>
                                        </div>
                                   </div> 
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div class="widget-box bg-white m-b-30">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-4">
                                                <div class="text-center"><i class="ti ti-user"></i></div>
                                            </div>
                                            <div class="col-4">
                                                <div class="inlinesparkline">Loading..</div>
                                            </div>
                                            <div class="col-4">
                                               {{#each TotalInactiveUsers}} <h2 class="m-0 counter">{{this.user}}</h2>{{/each}}
                                                <p>Blocked Users</p> 
                                            </div>
                                        </div>
                                   </div> 
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <h5 class="header-title pb-3">Sales Report Graph</h5> 
                                    <button class="btn-info" onclick="daily()">Daily</button>     
                                    <button class="btn-primary " onclick="Monthly()">Monthly</button>          
                                    <button class="btn-success" onclick="Yearly()">Yearly</button>          
                                         

                                    {{!-- <div id="morris-line-chart" style="height: 360px;"></div>              --}}
                                    <canvas id="myChart1" ></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <h5 class="header-title pb-3">Payment Mode Chart</h5>           
                                    {{!-- <div id="morris-donut-chart"></div>               --}}
                                      <canvas id="myChart" ></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <h5 class="header-title pb-3">ORDER STATUS</h5>           
                                    {{!-- <div id="morris-bar-chart"></div>               --}}
                                       <canvas id="myChart2" ></canvas>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <h5 class="header-title pb-3">SALES</h5>           
                                    {{!-- <div id="extra-area-chart"></div>               --}}
                                                                          <canvas id="myChart3" ></canvas>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-sm-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <h5 class="header-title pb-3">SALES REPORT</h5>           
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table">
                            <thead>

                                <form action="/admin-dailysales" method="post">

                                <th scope="col">Select Day:</th>
                                <th>
                                    <div class="dropdown"><input type="date" name="day"></div>
                                </th>

                                <th scope="col">
                                    <a href=""><button type="submit" class="btn btn-primary m-2">View</button>
                                        </td></a>
                                        
                                </th>
                                <th scope="col"></th>
                                </tr>
                                </form>
                                <form action="/admin-monthlysales" method="post">
                                <tr>
                                    <th scope="col">Select Month:</th>
                                    <th scope="col">
                                        <select name="month" id="cars">
                                            <option value="01">January</option>
                                            <option value="02">Feb</option>
                                            <option value="03">Mar</option>
                                            <option value="04">Apr</option>
                                            <option value="05">May</option>
                                            <option value="06">Jun</option>
                                            <option value="07">Jul</option>
                                            <option value="08">Aug</option>
                                            <option value="09">Sep</option>
                                            <option value="10">Oct</option>
                                            <option value="11">Nov</option>
                                            <option value="12">Dec</option>
                                        </select>

                                         <select name="year" id="cars">
                                            <option value="2022">2022</option>
                                            <option value="2021">2021</option>
                                            <option value="2020">2020</option>
                                            <option value="2019">2019</option>
                                            <option value="2018">2018</option>
                                            <option value="2017">2017</option>
                                            <option value="2016">2016</option>
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                            <option value="2013">2013</option>
                                            <option value="2012">2012</option>
                                            <option value="2011">2011</option>
                                        </select>
                                    </th>
                                    <th scope="col">
                                        <button type="submit" class="btn btn-primary m-2">View</button></td>
                                    </th>
                                    <th scope="col"></th>
                                </tr>
                                </form>
                                 <form action="/admin-yearlysales" method="post">
                                <tr>
                                    <th scope="col">Select Year:</th>
                                    <th scope="col">
                                        <select name="year" id="cars">
                                            <option value="2022">2022</option>
                                            <option value="2021">2021</option>
                                            <option value="2020">2020</option>
                                            <option value="2019">2019</option>
                                            <option value="2018">2018</option>
                                            <option value="2017">2017</option>
                                            <option value="2016">2016</option>
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                            <option value="2013">2013</option>
                                            <option value="2012">2012</option>
                                            <option value="2011">2011</option>
                                        </select>
                                    </th>
                                    <th scope="col">
                                        <button type="submit" class="btn btn-primary m-2">View</button></td>

                                    </th>
                                    <th scope="col"></th>
                                </tr>
                                </form> 
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                        
                    </div>                            
                    
                </div><!--end container-->

        
                <!--end Right Slidebar-->
            </div>
            <!--end body content-->
            
        </section>


        {{!-- charts --}}

              <script>
  const labels = [
 
{{#each data}} '{{_id}}',{{/each}}

  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'Payment Methods',
      backgroundColor: ['orange','#d8db7d', 'purple'
      ],
      borderColor: 'white',


      data: [{{#each data}} {{count}},{{/each}}]
    }]
  };

  const config = {
    type: 'pie',
    data: data,
    options: {}
  };
</script>



<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>


{{!-- ........ --}}

              <script>
  const labels2 = [
 
{{#each status}} '{{_id}}',{{/each}}

  ];

  const data2 = {
    labels: labels2,
    datasets: [{
      label: 'Order Status',
      backgroundColor: ['orange','red', 'yellow','green',
      ],
      borderColor: 'white',


      data: [{{#each status}} {{count}},{{/each}}]
    }]
  };

  const config2 = {
    type: 'doughnut',
    data: data2,
    options: {}
  };
</script>



<script>
  const myChart2 = new Chart(
    document.getElementById('myChart2'),
    config2
  );
</script>

{{!-- ***** --}}


              <script>
  const labels3 = [
 
  {{#each payment}}'{{_id}}',{{/each}}

  ];

  const data3 = {
    labels: labels3,
    datasets: [{
      label: 'Payment Method Sales',
      backgroundColor: ['cyan','green', '#7bc26e'
      ],
      borderColor: 'white',


      data: [{{#each payment}}{{totalAmount}},{{/each}}]
    }]
  };

  const config3 = {
    type: 'polarArea',
    data: data3,
    options: {}
  };
</script>



<script>
  const myChart3 = new Chart(
    document.getElementById('myChart3'),
    config3
  );
</script>






{{!-- lineChart --}}



      <script>
  const labels1 = [
  {{#each year}}'{{_id}}',{{/each}}
   

  ];

  const data1 = {
    labels: labels1,
    datasets: [{
      label: 'Sales Report',
      backgroundColor: ['#32a871','#325ba8','#db5c71']
      ,
      borderColor: 'red',


      data: [{{#each year}}{{totalAmount}},{{/each}}]
    }]
  };

  const config1 = {
    type: 'bar',
    data: data1,
    options: {}
  };
</script>

<script>
  const myChart1 = new Chart(
    document.getElementById('myChart1'),
    config1
  );
</script>


<script>

    function Yearly(){

  const labels1 = [
  {{#each year}}'{{_id}}',{{/each}}
   

  ];

  const data1 = {
    labels: labels1,
    datasets: [{
      label: 'Sales Report',
      backgroundColor: '#2cb2c7'
      ,
      borderColor: '#2cb2c7',


      data: [{{#each year}}{{totalAmount}},{{/each}}]
    }]
  };

  const config1 = {
    type: 'line',
    data: data1,
    options: {}
  };


  const myChart1 = new Chart(
    document.getElementById('myChart1'),
    config1
  );




    }

      function Monthly(){

  const labels1 = [
  {{#each month}}'{{_id}}',{{/each}}
   

  ];

  const data1 = {
    labels: labels1,
    datasets: [{
      label: 'Sales Report',
      backgroundColor: '#E1AA9E'
      ,
      borderColor: '#E1AA9E',


      data: [{{#each month}} {{totalAmount}},{{/each}}]
    }]
  };

  const config1 = {
    type: 'line',
    data: data1,
    options: {}
  };


  const myChart1 = new Chart(
    document.getElementById('myChart1'),
    config1
  );




    }


      function daily(){

  const labels1 = [
  {{#each daily}}'{{_id}}',{{/each}}
   

  ];

  const data1 = {
    labels: labels1,
    datasets: [{
      label: 'Sales Report',
      backgroundColor: '#409456'
      ,
      borderColor: '#409456',


      data: [{{#each daily}} {{totalAmount}},{{/each}}]
    }]
  };

  const config1 = {
    type: 'line',
    data: data1,
    options: {}
  };


  const myChart1 = new Chart(
    document.getElementById('myChart1'),
    config1
  );




    }


</script>

        <!-- jQuery -->
        <script src="/admin/js/jquery-3.2.1.min.js"></script>
        <script src="/admin/js/popper.min.js"></script>
        <script src="/admin/js/bootstrap.min.js"></script>
        <script src="/admin/js/jquery-migrate.js"></script>
        <script src="/admin/js/modernizr.min.js"></script>
        <script src="/admin/js/jquery.slimscroll.min.js"></script>
        <script src="/admin/js/slidebars.min.js"></script>

        <!--plugins js-->
        <script src="/admin/plugins/counter/jquery.counterup.min.js"></script>
        <script src="/admin/plugins/waypoints/jquery.waypoints.min.js"></script>
        <script src="/admin/plugins/sparkline-chart/jquery.sparkline.min.js"></script>
        <script src="/admin/pages/jquery.sparkline.init.js"></script>

        <script src="/admin/plugins/chart-js/Chart.bundle.js"></script>
        <script src="/admin/plugins/morris-chart/raphael-min.js"></script>
        <script src="/admin/plugins/morris-chart/morris.js"></script>
        <script src="/admin/pages/dashboard-init.js"></script>


        <!--app js-->
        <script src="/admin/js/jquery.app.js"></script>
        <script>
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                delay: 100,
                time: 1200
                });
            });
        </script>
    </body>
</html>
