<!DOCTYPE html>
<html lang="zxx">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Urdan - Minimal eCommerce HTML Template</title>
        <meta name="robots" content="noindex, follow" />
        <meta name="description" content="Urdan Minimal eCommerce Bootstrap 5
            Template is a stunning eCommerce website template that is the best
            choice for any online store.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="profile" href="https://gmpg.org/xfn/11">
        <link rel="canonical"
            href="https://htmldemo.hasthemes.com/urdan/index.html" />

        <!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Urdan - Minimal eCommerce HTML
            Template" />
        <meta property="og:url"
            content="https://htmldemo.hasthemes.com/urdan/index.html" />
        <meta property="og:site_name" content="Urdan - Minimal eCommerce HTML
            Template" />
        <!-- For the og:image content, replace the # with a link of an image -->
        <meta property="og:image" content="#" />
        <meta property="og:description" content="Urdan Minimal eCommerce
            Bootstrap 5 Template is a stunning eCommerce website template that
            is the best choice for any online store." />
        <!-- Add site Favicon -->
        <link rel="icon" href="/User/images/favicon/cropped-favicon-32x32.png"
            sizes="32x32" />
        <link rel="icon" href="/User/images/favicon/cropped-favicon-192x192.png"
            sizes="192x192" />
        <link rel="apple-touch-icon"
            href="/User/images/favicon/cropped-favicon-180x180.png" />
        <meta name="msapplication-TileImage"
            content="/User/images/favicon/cropped-favicon-270x270.png" />

        <!-- All CSS is here
	============================================ -->
        <link rel="stylesheet" href="/User/css/vendor/bootstrap.min.css" />
        <link rel="stylesheet" href="/User/css/vendor/pe-icon-7-stroke.css" />
        <link rel="stylesheet" href="/User/css/vendor/themify-icons.css" />
        <link rel="stylesheet" href="/User/css/vendor/font-awesome.min.css" />
        <link rel="stylesheet" href="/User/css/plugins/animate.css" />
        <link rel="stylesheet" href="/User/css/plugins/aos.css" />
        <link rel="stylesheet" href="/User/css/plugins/magnific-popup.css" />
        <link rel="stylesheet" href="/User/css/plugins/swiper.min.css" />
        <link rel="stylesheet" href="/User/css/plugins/jquery-ui.css" />
        <link rel="stylesheet" href="/User/css/plugins/nice-select.css" />
        <link rel="stylesheet" href="/User/css/plugins/select2.min.css" />
        <link rel="stylesheet" href="/User/css/plugins/easyzoom.css" />
        <link rel="stylesheet" href="/User/css/plugins/slinky.css" />
        <link rel="stylesheet" href="/User/css/style.css" />
    </head>




    <body>
        <div class="main-wrapper main-wrapper-2">
             <div class="header-top d-none d-lg-block bg-gray">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-6">
                        <div class="welcome-text">
                            {{#if user}}
                            <p>Welcome {{user.name}}</p>
                            {{else}}
                            <p> Welcome Please Login! </p>
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-lg-6 col-6">
                        <div class="language-currency-wrap">
                            <div class="currency-wrap border-style">
                                <a class="currency-active" href="#">Account<i class=" ti-angle-down "></i></a>
                                <div class="currency-dropdown">
                                    <ul>
                                        <li><a href="/profile"> Profile</a></li>
                                        <li><a href="#">Settings</a></li>
                                        <li><a href="/user-logout">Log Out </a></li>
                                    </ul>
                                </div>
                            </div>
                            {{!-- <div class="language-wrap">
                                <a class="language-active" href="#"><img src="assets/images/icon-img/flag.png" alt="">
                                    English <i class=" ti-angle-down "></i></a>
                                <div class="language-dropdown">
                                    <ul>
                                        <li><a href="#"><img src="assets/images/icon-img/flag.png" alt="">English </a>
                                        </li>
                                        <li><a href="#"><img src="assets/images/icon-img/spanish.png" alt="">Spanish</a>
                                        </li>
                                        <li><a href="#"><img src="assets/images/icon-img/arabic.png" alt="">Arabic </a>
                                        </li>
                                    </ul>
                                </div>
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <header class="header-area header-responsive-padding
                header-height-1"
                style="min-height: 110px; margin-top: 20px;">
                <div class="header-top d-none d-lg-block bg-gray-5">
                    <div class="container">
                        <div class="row align-items-center">

                        </div>
                    </div>
                </div>
                <div class="header-bottom sticky-bar bg-light text-white "
                    style="min-height: 130px;">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-6 col-6">
                                <div class="logo">
                                    <a href="/login-register"><img
                                            src="/User/images/logo/looo-removebg-preview.png"
                                            alt="logo" style="margin-top:
                                            15px;"></a>
                                </div>
                            </div>
                            <div class="col-lg-6 d-none d-lg-block">
                                <div class="main-menu text-center ">
                                    <nav>
                                        <ul>
                                            <li><a href="/">HOME</a>

                                            </li>



                                            <li><a href=""> SHOP BY &nbsp;
                                                    CATEGORY</a>

                                                <ul class="sub-menu-style">
                                                    {{#each category}}
                                                    <li><a
                                                            href="/veg/{{this._id}}">
                                                            {{this.category}}</a></li>
                                                    <li><a href="cart.html"></a></li>
                                                    <li><a href="checkout.html">
                                                        </a></li>
                                                    <li><a
                                                            href="my-account.html"></a></li>
                                                    <li><a href="wishlist.html"></a></li>
                                                    {{!-- <li><a
                                                            href="compare.html"></a></li>
                                                    <li><a
                                                            href="contact-us.html">contact
                                                            us </a></li>
                                                    <li><a
                                                            href="login-register.html">login
                                                            / register </a></li>
                                                    --}}
                                                    {{/each}}
                                                </ul>

                                            </li>


                                            <li class="" style="font-size:
                                                15px;"><a href="/allproducts">ALL
                                                    PRODUCTS</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-6 ">
                                <div class="header-action-wrap">
                                    <div class="header-action-style
                                        header-search-1">
                                        <a class="search-toggle" href="#">
                                            <i class="pe-7s-search s-open"></i>
                                            <i class="pe-7s-close s-close"></i>
                                        </a>
                                        <div class="search-wrap-1">
                                            <form action="#">
                                                <input placeholder="Search
                                                    products…" type="text">
                                                <button class="button-search">
                                                    <i class="pe-7s-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="header-action-style d-flex gap-3
                                        dropdown">

                                        {{#if user}}



                                        <a title="Login Register"
                                            href="/profile"><i
                                                class="pe-7s-user"></i></a>
                                        {{else}}
                                        <a title="Login Register" href="/login"><i
                                                class="pe-7s-user"></i></a>
                                    </div>

                                    {{/if}}




                                    <div class="header-action-style">
                                        <a title="Wishlist" href="/wishlist"><i
                                                class="pe-7s-like"></i></a>
                                    </div>
                                    <div class="header-action-style
                                        header-action-cart">
                                        <a class="cart-active" href="#"><i
                                                class="pe-7s-shopbag"></i>
                                            {{#if user}}
                                            <span class="product-count bg-black"
                                                id="cart-count">{{cartcount}}</span>
                                        </a>
                                        {{else}}
                                        <span class="product-count "
                                            id="cart-count"></span>
                                        {{/if}}
                                    </div>
                                    <div class="header-action-style d-block
                                        d-lg-none">
                                        <a class="mobile-menu-active-button"
                                            href="#"><i class="pe-7s-menu"></i></a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- mini cart start -->
            <div class="sidebar-cart-active">
            <div class="sidebar-cart-all">
                <a class="cart-close" href="#"><i class="pe-7s-close"></i></a>
                <div class="cart-content">
                    <h3>Shopping Cart</h3>
                    <ul>
                        {{#each list}}
                        <li>
                            <div class="cart-img">
                                <a href="#"><img src="/Admin/images/{{this.image.[0]}}" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#"></a></h4>
                                <span> 1 × $49.00 </span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    {{!-- <div class="cart-total">
                        <h4>Subtotal: <span>$170.00</span></h4>
                    </div> --}}
                    <div class="cart-btn btn-hover">
                        <a class="theme-color" href="/cart">View cart</a>
                    </div>
                    {{!-- <div class="checkout-btn btn-hover">
                        <a class="theme-color" href="/checkout">Checkout</a>
                    </div> <br> --}}
                    <div class="checkout-btn btn-hover">
                        <a class="theme-color" href="/wishlist">Wishlist</a>
                    </div>
                </div>
            </div>
        </div>
            <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
                <div class="container">
                    <div class="breadcrumb-content text-center">
                        <h2 data-aos="fade-up" data-aos-delay="200">Order Summary</h2>
                        <ul data-aos="fade-up" data-aos-delay="400">
                            <li><a href="/">Home</a></li>
                            <li><i class="ti-angle-right"></i></li>
                            <li>Ordered Products </li>
                        </ul>
                    </div>
                </div>
                <div class="breadcrumb-img-1" data-aos="fade-right"
                    data-aos-delay="200">
                    <img src="assets/images/banner/breadcrumb-1.png" alt="">
                </div>
                <div class="breadcrumb-img-2" data-aos="fade-left"
                    data-aos-delay="200">
                    <img src="assets/images/banner/breadcrumb-2.png" alt="">
                </div>
            </div>
            <section class="h-100 gradient-custom">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center
                        align-items-center h-100">
                        <div class="col-lg-10 col-xl-8">
                            <div class="card" style="border-radius: 10px;">
                                <div class="card-header px-4 py-5">
                                    <h5 class="text-muted mb-0">Thanks for your
                                        Order, <span style="color: #7ade77;">{{user.name}}</span>!</h5>
                                </div>
                                <div class="card-body p-4">
                                    <div class="d-flex justify-content-between
                                        align-items-center mb-4">
                                        <p class="lead fw-normal mb-0"
                                            style="color: #7ade77;">Receipt</p>
                                       
                                    </div>
                                    {{#each products}}

                                    <div class="card shadow-0 border mb-4">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <img
                                                        src="/Admin/images/{{this.product.image.[1]}}"
                                                        class="img-fluid"
                                                        alt="Phone">
                                                </div>
                                                <div class="col-md-2 text-center
                                                    d-flex
                                                    justify-content-center
                                                    align-items-center">
                                                    <p class="text-muted mb-0">{{this.product.name}}</p>
                                                </div>
                                                {{!-- <div class="col-md-2
                                                    text-center d-flex
                                                    justify-content-center
                                                    align-items-center">
                                                    <p class="text-muted mb-0
                                                        small">White</p>
                                                </div> --}}
                                                {{!-- <div class="col-md-2
                                                    text-center d-flex
                                                    justify-content-center
                                                    align-items-center">
                                                    <p class="text-muted mb-0
                                                        small">Capacity: 64GB</p>
                                                </div> --}}
                                                <div class="col-md-2 text-center
                                                    d-flex
                                                    justify-content-center
                                                    align-items-center">
                                                    <p class="text-muted mb-0
                                                        small">Qty: {{this.quantity}}</p>
                                                </div>
                                                <div class="col-md-2 text-center
                                                    d-flex
                                                    justify-content-center
                                                    align-items-center">
                                                    <p class="text-muted mb-0
                                                        small">S.P :₹{{this.product.price}}</p>
                                                </div>
                                                  <div class="col-md-2 text-center
                                                    d-flex
                                                    justify-content-center
                                                    align-items-center">
                                                    <p class="text-muted mb-0
                                                        small">M.R.P ₹{{this.product.originalPrice}}</p>
                                                </div>
                                            </div>
                                            <hr class="mb-4"
                                                style="background-color:
                                                #e0e0e0; opacity: 1;">
                                            {{!-- <div class="row d-flex
                                                align-items-center">
                                                <div class="col-md-2">
                                                    <p class="text-muted mb-0
                                                        small">Track Order</p>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="progress"
                                                        style="height: 6px;
                                                        border-radius: 16px;">
                                                        <div
                                                            class="progress-bar"
                                                            role="progressbar"
                                                            style="width: 65%;
                                                            border-radius: 16px;
                                                            background-color:
                                                            #a8729a;"
                                                            aria-valuenow="65"
                                                            aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                    <div class="d-flex
                                                        justify-content-around
                                                        mb-1">
                                                        <p class="text-muted
                                                            mt-1 mb-0 small
                                                            ms-xl-5">Out for
                                                            delivary</p>
                                                        <p class="text-muted
                                                            mt-1 mb-0 small
                                                            ms-xl-5">Delivered</p>
                                                    </div>
                                                </div>
                                            </div> --}}
                                        </div>
                                    </div>
                                    {{/each}}

                                    <div class="d-flex justify-content-between
                                        pt-2">
                                        <p class="fw-bold mb-0">Order Details</p>
                                       {{!-- {{#each products}} <p class="text-muted mb-0"><span
                                                class="fw-bold me-4">Total</span>
                                            {{this.product.originalPrice}}</p>{{/each}} --}}
                                    </div>

                                    <div class="d-flex justify-content-between
                                        pt-2">
                                       {{#each orders}} <p class="text-muted mb-0">Invoice
                                            Number : {{this._id}}</p>{{/each}}
                                        {{!-- {{#each products}}<p class="text-muted mb-0"><span
                                                class="fw-bold me-4">Discount percentage</span>
                                            {{this.product.offerPercentage}}%</p>{{/each}} --}}
                                    </div>

                                    <div class="d-flex justify-content-between">
                                      {{#each orders}}  <p class="text-muted mb-0">Invoice Date:
                                           {{this.date}}</p>{{/each}}
                                       
                                    </div>

                                   {{#each orders}} <div class="d-flex justify-content-between
                                        mb-5">
                                        <p class="text-muted mb-0">Payment 
                                            Method : {{this.paymentMethod}}</p>{{/each}}
                                        {{!-- <p class="text-muted mb-0"><span
                                                class="fw-bold me-4">Delivery
                                                Charges</span> Free</p> --}}
                                    </div>
                                </div>
                                <div class="card-footer border-0 px-4 py-5"
                                    style="background-color: #7ade77;
                                    border-bottom-left-radius: 10px;
                                    border-bottom-right-radius: 10px;">
                                    <h5 class="d-flex align-items-center
                                        justify-content-end text-white
                                        text-uppercase mb-0">Total
                                        paid:
                                   {{#each orders}}  <span class="h2 mb-0 ms-2">₹{{this.totalAmount}}</span></h5>                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div>
                <center> 
                            <a href="/invoice/{{this._id}}"><button class="btn-sm btn-success"> Print Invoice </button></a>{{/each}}

                </center>
            </div>
            <footer class="footer-area">
                <div class="bg-gray-2">
                    <div class="container">
                        <div class="footer-top pt-80 pb-35">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                    <div class="footer-widget footer-about
                                        mb-40">
                                        <div class="footer-logo">
                                            <a href="index.html"><img
                                                    src="assets/images/logo/logo.png"
                                                    alt="logo"></a>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, cons
                                            adipi elit, sed do eiusmod tempor
                                            incididunt ut aliqua.</p>
                                        <div class="payment-img">
                                            <a href="#"><img
                                                    src="assets/images/icon-img/payment.png"
                                                    alt="logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                    <div class="footer-widget
                                        footer-widget-margin-1 footer-list
                                        mb-40">
                                        <h3 class="footer-title">Information</h3>
                                        <ul>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="#">Delivery Information</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Terms & Conditions</a></li>
                                            <li><a href="#">Customer Service</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                                    <div class="footer-widget footer-list
                                        mb-40">
                                        <h3 class="footer-title">My Accound</h3>
                                        <ul>
                                            <li><a href="my-account.html">My
                                                    Account</a></li>
                                            <li><a href="#">Order History</a></li>
                                            <li><a href="wishlist.html">Wish
                                                    List</a></li>
                                            <li><a href="#">Newsletter</a></li>
                                            <li><a href="#">Order History</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="footer-widget
                                        footer-widget-margin-2 footer-address
                                        mb-40">
                                        <h3 class="footer-title">Get in touch</h3>
                                        <ul>
                                            <li><span>Address: </span>Your
                                                address goes here </li>
                                            <li><span>Telephone Enquiry:</span>
                                                (012) 345 6789</li>
                                            <li><span>Email: </span>demo@example.com</li>
                                        </ul>
                                        <div class="open-time">
                                            <p>Open : <span>8:00 AM</span> -
                                                Close : <span>18:00 PM</span></p>
                                            <p>Saturday - Sunday : Close</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-3">
                    <div class="container">
                        <div class="footer-bottom copyright text-center
                            bg-gray-3">
                            <p>Copyright ©2021 All rights reserved | Made with
                                <i class="fa fa-heart"></i> by <a
                                    href="https://hasthemes.com/"> HasThemes</a>.</p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Mobile Menu start -->
            <div class="off-canvas-active">
                <a class="off-canvas-close"><i class=" ti-close "></i></a>
                <div class="off-canvas-wrap">
                    <div class="welcome-text off-canvas-margin-padding">
                        {{#if user}}
                        <p>Welcome {{user.name}} !</p>
                        {{else}}
                        <p> Welcome Please Login! </p>
                        {{/if}}
                    </div>
                    <div class="mobile-menu-wrap off-canvas-margin-padding-2">
                        <div id="mobile-menu" class="slinky-mobile-menu text-left">
                            <ul>
                                <li>
                                    <a href="/">HOME</a>

                                <li>
                                    <a href="#">SHOP</a>
                                    <ul>
                                        <li>
                                            <a href="/allproducts">View All Products</a>

                                        </li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="#">SHOP BY CATEGORY </a>

                                    <ul class="sub-menu-style">
                                        {{#each category}}
                                        <li><a href="/veg/{{this._id}}"> {{this.category}}</a></li>

                                        {{/each}}
                                    </ul>

                                </li>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- All JS is here -->
        <script src="/User/js/vendor/modernizr-3.11.7.min.js"></script>
        <script src="/User/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/User/js/vendor/jquery-migrate-3.3.2.min.js"></script>
        <script src="/User/js/vendor/popper.min.js"></script>
        <script src="/User/js/vendor/bootstrap.min.js"></script>
        <script src="/User/js/plugins/wow.js"></script>
        <script src="/User/js/plugins/scrollup.js"></script>
        <script src="/User/js/plugins/aos.js"></script>
        <script src="/User/js/plugins/magnific-popup.js"></script>
        <script src="/User/js/plugins/jquery.syotimer.min.js"></script>
        <script src="/User/js/plugins/swiper.min.js"></script>
        <script src="/User/js/plugins/imagesloaded.pkgd.min.js"></script>
        <script src="/User/js/plugins/isotope.pkgd.min.js"></script>
        <script src="/User/js/plugins/jquery-ui.js"></script>
        <script src="/User/js/plugins/jquery-ui-touch-punch.js"></script>
        <script src="/User/js/plugins/jquery.nice-select.min.js"></script>
        <script src="/User/js/plugins/waypoints.min.js"></script>
        <script src="/User/js/plugins/counterup.min.js"></script>
        <script src="/User/js/plugins/select2.min.js"></script>
        <script src="/User/js/plugins/easyzoom.js"></script>
        <script src="/User/js/plugins/slinky.min.js"></script>
        <script src="/User/js/plugins/ajax-mail.js"></script>
        <!-- Main JS -->
        <script src="/User/js/main.js"></script>
    </body>

</html>